In [20]:
import pandas as pd

data_path = '/Users/niloufar/Desktop/DeepLearning/tf_specialization/comment/'
data1 = 'spam_or_not1.xlsx'
data2 = 'spam_or_not2.xlsx'
data3 = 'spam_or_not3.xlsx'
df1 = pd.read_excel(data_path + data1)
df2 = pd.read_excel(data_path + data2)
df3 = pd.read_excel(data_path + data3)
df = pd.concat([df1, df2, df3], ignore_index=True)
df = df.drop(['ID'], axis=1)
df.iloc[995:1005, :]

,Text (comment),Spam or ham,Spam or ham2
995,سلام و وقت بخیر خدمت همه ی اسکیپ بازها....\nمن...,ham,NaN
996,اگه بخوام یه بازی خوب به کسی معرفی کنم طوبی رو...,ham,NaN
997,عللی,ham,NaN
998,بازی خوب و جذابیه. سناریو جا داره یمقدار بهتر ...,ham,NaN
999,بازی قشنگیه ولی نه واسه الان که خیلی بازی های ...,ham,NaN
1000,سلام طراحی دکور ث من دوس داشتم اما معماها خیلی...,spam,NaN
1001,سلام ما امروز سانس داشتیم به بهونه های مختلف س...,spam,NaN
1002,نسبت به تعرییفش نبود,ham,NaN
1003,به نظرم می‌تونست بازی قوی تری باشه اما در کل خ...,ham,NaN
1004,بسیار ضعیف تر از آنکه تعریف کردا بودن، نور بند...,spam,NaN

In [ ]:
# pip install --upgrade pip

In [ ]:
# pip install pandas

In [ ]:
pip install openpyxl